node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.cache
dist
.angular
.vscode
.logs
Dockerfile
.dockerignore
vercel.json
App/node_modules
api/node_modules
App/.angular
App/dist
api/dist
